.piece {
  width: 25px;
  height: 25px;

  background-color: black;

  position: absolute;

  z-index: 1;
}

two-block-piece {
  width: 50px;
  height: 25px;

  background-color: brown;
}

/* single-block-piece {
  background-color: aqua;
  width: 25px;
  height: 25px;

  background-color: black;

  position: absolute;
} */

long-piece {
  width: 25px;
  height: 100px;

  background-color: rgb(84, 199, 235);

  position: absolute;
}

square-piece {
  width: 50px;
  height: 50px;

  background-color: rgb(238, 238, 99);

  position: absolute;
  display: inline-block;
}

/* .pixel {
  width: 25px;
  height: 25px;

  background-color: rgb(82, 156, 134);
} */

l-left-piece {
  width: 50px;
  height: 75px;

  /* background-color: rgb(86, 86, 167); */

  position: absolute;
}