@import "./pieces.css";

h1 {
  color: blue;
  text-align: center;
}

#field-container {
  background-color: white;
  width: 432px;
  height: 594px;

  margin: auto;
  border: 1px;
  border-color: black;
  border-style: solid;
}

.root-pixel {
  width: 25px;
  height: 25px;

  background-color: white;
  border-color: black;
  border: 1px;
  border-style: solid;

  display: inline-block;
}

#next-piece-container {
  background-color: white;
  width: 135px;
  height: 135px;

  border: 1px;
  border-color: black;
  border-style: solid;
}

.next-piece-container-pixel {
  width: 25px;
  height: 25px;

  background-color: white;
  border: 1px;
  border-color: black;
  border-style: solid;

  display: inline-block;
}